output/
autre_data/
data_raw/
data_weather/
wc0.5/
archive/
data_csv-Copie/
data_csv/
DB_import/
outputImport/
output/
*data_cache/
export/
data_various/

.Rproj.user
.Rhistory
*.html
*.r~

sig/
*.dbf
*.prj
*.qpj
*.shp
*.shx
*.png
*.pdf
*.pjg
*.zip
*.gz
*.Rdata
*.rds
*.r#
*.rmd~
*.nc
*.org
*.org~
*.zip
_*.sql

my*


*.Rmd#
.#my_exploration.r
.#exploration.Rmd
*.md
.#preparation_data.Rmd
data/data_lichen_rhone_grandest.csv
data/.gitkeep
data/data_grandest.csv
data/data_lyon.csv
data/data_spclean_lichen_rhone_grandest.csv
data/polluant_rhone2_jour.csv
data/Point_observation.cpg
data/Point_observation.sbn
data/Point_observation.sbx
data/IBLE_vallee_du_Rhone_1.xlsx
data/extraction_donnees_sorbonne.xlsx
data/donnees_sorbonne.csv
data/data_lyon_coord.csv
data/data_rhone_coord.csv
data/traitements au fil de leau.txt
data/NDVIs.7z
