output/
data_raw/
data_weather/
data/

wc0.5/
archive/
data_csv-Copie/
data_csv/
DB_import/
outputImport/
output/

export/
data_various/

.Rproj.user
.Rhistory
*.html
*.r~

sig/
*.dbf
*.prj
*.qpj
*.shp
*.shx
*.png
*.pdf
*.pjg
*.zip
*.gz
*.Rdata
*.rds
*.r#
*.rmd~
*.nc
*.org
*.org~
*.zip
_*.sql

my*


*.Rmd#
.#my_exploration.r
.#exploration.Rmd
